<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="title"> Rick </mat-card-title>
      <mat-card-subtitle>{{rick.dimension.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://http2.mlstatic.com/D_NQ_NP_958462-MLB29339548199_022019-O.jpg"
         alt="Rick and Morty">
    <mat-card-actions class="btn-group">
      <button mat-button>
        <a [routerLink]="['/detail']" [queryParams]="{ id: rick.id}">
          Detalhes
        </a>
      </button>
      <button mat-button>
        <a [routerLink]="['/']">
          Inicio
        </a>
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="scroll">
    <div>
      <mat-card class="historic-card">
        <mat-card-header>
          <mat-card-title class="title historic"> Historico de Viagem </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <table>
            <tr>
              <th>Dimensão</th>
              <th>Data</th>
            </tr>
            <tr *ngFor="let travel of travels">
              <td>
                {{travel.dimension.name}}
              </td>
              <td>
                {{ travel.datetravel | date:'dd/MM/yyy' }}
              </td>

            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

