/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.mat-select-panel {
  font-size: 16px;
  opacity: 1;
  min-width: calc(100% + 32px);
  transform: scaleY(1);
}

.cdk-overlay-pane {
  border-width: 0.3px;
  border-style: solid;
  min-width: 56px;
  pointer-events: auto;
  font-size: 16px;
  transform: translateX(0) translateY(0) !important;
}

.mat-option-text {
}

.cdk-overlay-container {
  background-color: #fff;
  position: absolute !important;
  left: 60rem !important;
  top: 8rem;
}


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
