<div id="modal" class="modal">

  <div class="container">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-dialog-actions align="end">
        </mat-dialog-actions>
        <mat-card-title class="title">Rick</mat-card-title>
        <mat-card-subtitle>{{rick.dimension.name}}</mat-card-subtitle>
      </mat-card-header>

      <div class="row">
        <div>

          <label>Selecione o Destino</label>
          <select [(ngModel)]="dimensionId">
            <option *ngFor="let dimension of dimensions;" [value]="dimension.id">
              {{dimension.name}}
            </option>
          </select>

          <button (click)="save()">Viajar</button>
          <button (click)="cancel()">Cancelar</button>
        </div>
      </div>
    </mat-card>

  </div>
</div>
