.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.container {
  margin: auto;
  width: 50%;
  align-items: center;
}

button {
  text-align: center;
  width: 80px;
  margin-right: 1rem;
}

.row {
  padding: 0 2rem;
  min-width: 100% !important;
  text-align: center;
}

select {
  margin: 0 1rem;
  min-width: 200px !important;
}

.title {
  font-weight: bold;
  font-size: large;
}

.mat-card-image {
  margin: 0 1rem;
  max-width: 80%;
}

.example-card {
  top: 12rem;
  background-color: white;
  margin-right: 1rem;
  justify-content: center;
}
