
.a {
  display: inline;
}

img {
  margin: 0 auto;
  max-width: 90%;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.title {
  font-weight: bold;
  font-size: large;
}

.example-card {
  text-align: center;
  margin-right: 1rem;
  justify-content: space-between;
  max-width: 23%;
  box-shadow: 5px 5px 5px 5px rgb(209, 209, 209);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.row {
  display: inline-flex;
  width: 100%;
  margin: 1rem 1rem;
}

input {
  margin-right: 1rem;
}
